.carousel-content {
    color: black;
    align-items: center;
}

.carousel-indicators li {
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: rgba( 51, 255, 87, 0.5);
}

.carousel-indicators .active {
    border: none;
    background-color: #33ff57;
}
